<h1>Form Data</h1>
<!-- <table>
  <thead>
    <tr>
      <td>Task Name</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasksByLocation">
      <td>{{ task.Name }}</td>
      <td>{{ task.CurrentStatus }}</td>
      <button (click)="deleteTask(task.ID)">Delete</button>
      <button (click)="updateTask(task.ID, { Name: 'My New Task Updated' })">Update</button>
      <button (click)="getTaskByID(task.ID)">Get</button>
    </tr>
  </tbody>
</table> -->
<button (click)="createForm()">Add</button>
<!-- <button (click)="testBatchWrites()">Batch Add Test</button> -->
