<h1>Form Data</h1>
<table>
  <thead>
    <tr>
      <td>Form ID</td>
      <td>Form Template ID</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let form of formsByLocation; let i = index">
      <td>{{ form.ID }}</td><br>
      <td>{{ form.TemplateID }}</td>
      <button (click)="deleteForm(form.ID)">Delete</button>
      <button (click)="updateForm(form.ID, i, 'new name here!')">Update</button>
      <button (click)="getFormByID(form.ID)">Get By Firebase ID</button>
      <button (click)="getFormsByTemplateID(form.TemplateID)">Get By Form Template ID (a mysql id)</button>
    </tr>
  </tbody>
</table>
<button (click)="createForm()">Add</button>
